# Secret keys 
.env 

# Python Files
__pycache__/
*.py[cod]

# Bioinformatics data
*.gbk
*.fasta
*.xml
data/
results/


# MacOS System Files
.DS_Store

# Ignore Jupyter notebooks used for experimentation
*.ipynb
.ipynb_checkpoints/